version: '3.3'

services:
  php-apache:
    build:
      context: ./php
    container_name: php-apache
    ports:
      - 8000:80
    volumes:
      - ./:/var/www/html/
    restart: always

  db:
    container_name: mysql
    image: mysql
    # command: --default-authentication-plugin=mysql_native_password
    environment:
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    ports:
      - 4306:3306

  phpmya:
    image: phpmyadmin/phpmyadmin:latest
    container_name: phpmyadmin
    environment:
      PMA_HOST: db
    ports:
      - 8080:80
